

@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
:root {
--white: hsl(0, 0%, 100%);
--light-grey: hsl(217, 12%, 63%);
--medium-grey: hsl(216, 12%, 54%);
--dark-blue: hsl(213, 19%, 18%);
--very-dark-blue: hsl(216, 12%, 8%);
--orange: hsl(25, 97%, 53%);
--dark-orange: hsl(25, 81%, 38%);
}

body {
  margin: 0;
  font-family: "overpass",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background: var(--very-dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 0.1px);
}

h2 { 
  color: var(--white);
  font-size: 1.8em;
}

ul{
  text-align: center;
  padding-left: 0px;
}

p{
  
  width:90%
}
li{
  display: inline-block;
  margin: 15px;
}

.round{
  background: var(--very-dark-blue);
  border-radius: 50%;
  padding: 5px;
}
img.round{
  
  padding:15px;
}

.p-rating{
  display: inline-block; 
background: var(--very-dark-blue);
text-align: center;
border-radius: 125px;;
color:var(--orange);
width:260px;
height:35px;
padding-top: 13px;
}
.btn-set{
width: 50px;
height:50px;
color: white;
font-size:16px;

}
.btn-set:hover{
  background: var(--light-grey);
  }
.btn-set:focus{
  background: var(--orange);
  }

  


.attribution {position:fixed; bottom:0; font-size: 11px; text-align: center; color: gray}
.attribution a { color: hsl(228, 45%, 44%); }

.wrapper{
  
  width: 400px;
  color: hsl(217, 12%, 63%);
  border-radius: 10px;
  background: var(--dark-blue);
  padding: 1.25rem;
}

.thanks{
  text-align: center;
}

.btn-submit-wrap {
  
  margin: auto;
  text-align: center;
  
}
.btn-submit {
text-transform: uppercase;
background-color: var(--orange);
text-align: center;
letter-spacing: 0.2em;
border-radius: 25px;
border: 0 solid;
padding: 4px 6px 3px;
width: 300px;
height:40px;
color:hsl(0, 0%, 100%)
}

.btn-rating:hover {

  background-color: var(--white);
  color:var(--orange);
}